<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="F:/formation software testing/Practice selenium course/sauceDemoAutomation/src/test/java/tests/LoginPageTest.java">
        <parameter name="browserType" value="CHROME"></parameter>
        <parameter name="url" value="https://www.saucedemo.com/"></parameter>
        <classes>
            <class name="tests.LoginPageTest"/>
            <class name="tests.AddItemToCartTest"/>
            <class name="tests.CheckOutPageTest"/>
        </classes>
    </test>
</suite>